input, select {
	color: #7a7a7a;
	border: 1px solid #3a3a3a;
	background: transparent;
}

/* #region fieldset */

fieldset {
	padding: 0.5em;
	margin-bottom: 0.5em;
}

fieldset:has(select) {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.fieldset__display {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1em;
}

/* #endregion */

/* #region textarea */
textarea {
	width: 100%;
	height: 100%;
	resize: none;
	padding: 0.5em;
	border-radius: 8px;
	color: #7a7a7a;
	background: transparent;
}

/* #endregion */

/* #region Range Input */

input[type="range"] {
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	height: 0.5em;
	border-radius: 5px;
	background: #3a3a3a;
	outline: none;
	cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	background: #7a7a7a;
	cursor: pointer;
	transition: background 0.3s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
	background: #9a9a9a;
}

input[type="range"]::-moz-range-thumb {
	width: 1em;
	height: 1em;
	border-radius: 50%;
	background: #7a7a7a;
	cursor: pointer;
	transition: background 0.3s ease;
}

input[type="range"]::-moz-range-thumb:hover {
	background: #9a9a9a;
}

/* #endregion */

/* #region button */

button.menu__button {
	padding: 0.3em;
	border-radius: 8px;
	background: #5a5a5a;
	cursor: pointer;
	transition: 200ms ease;
}

button.menu__button img {
	width: 2em;
	height: 2em;
	pointer-events: none;
}

button.menu__button:hover {
	transform: scale(1.1);
}

/* #endregion */

/* #region scroll */

* {
	scrollbar-width: thin;
	scrollbar-color: #3a3a3a transparent;
}

*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-thumb {
	background-color: #3a3a3a;
	border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #7a7a7a;
}

/* #endregion */